<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-plugin-android-call-log"
		version="1.0">

	<name>Call Log</name>

	<description>This plugin allows you to retrieve the phone's call log.</description>
	<license>Apache 2.0</license>
    <keywords>cordova, calllog</keywords>
    <repo>https://github.com/luisvcastilla/cordova-plugin-android-call-log.git</repo>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=5.0.0"/>
	</engines>

	<js-module src="www/call-log.js" name="CallLog">
        <clobbers target="window.plugins.calllog" />
    </js-module>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CallLog">
				<param name="android-package" value="org.apache.cordova.call.log.CallLog"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_CALL_LOG" />
			<uses-permission android:name="android.permission.READ_CONTACTS" />
		</config-file>

		<source-file src="src/android/CallLog.java" target-dir="src/org/apache/cordova/call/log"/>
	</platform>

	<!-- browser -->
	<platform name="browser">
		<js-module src="www/call-log.js" name="CallLog">
			<runs />
		</js-module>
	</platform>
</plugin>
